/* Import Tailwind CSS directives */
@import "tailwindcss";

/* Remove spinner arrows from number input fields */
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;

  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
